.container {
    max-width: 1440px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 20px;
    max-width: 1440px;
}

.pages-button  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    
}
  
.pages-button li{
    list-style: none;
    font-size: 1.2em;
    padding : 0 15px;
    
    
}

.nav-link{
    text-decoration: none;
    color: #000000;
}

.profile  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}