body {
    background-color: #8da9c4;
    font-family: nunito;
  }

.h1 {
    color: white;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: -10px;
}
.card{
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  color:#8da9c4;
  border-radius: 20px;
}