body {
    background-color: #134074;
  }
  
  /*@media (max-width: 670px) {
    body {
      text-align: center;
    }
  } */
  
  .registerSubmitButton {
    background-color: #134074;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    justify-content: center;
    transition-duration: 0.4s;
    font-weight: bold;
  }
  
  .registerSubmitButton:hover {
    background-color: #13315C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    justify-content: center;
  }
  